src/main/resources/Item.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name='itemName' type='xs:string'/>
        <xs:element name='price' type='xs:decimal'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>